@model AutokeyRPC.Models.HomeModel

@{
    ViewBag.Title = "Elenco telai";
}

<h3><u>Situazione telai</u></h3>

@Html.ActionLink("Inserisci telaio", "Create", "Home")
&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Lista x stampa...", "PrintList", "Home")
&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Importa telai", "Index", "Telai")
<br />

@using (Html.BeginForm("DoRefresh", "Home", FormMethod.Get))
{
    <div class="form-group form-group-sm">

        @{var myScelta = @Session["Scelta1"].ToString();}

        @*@myScelta*@
        @{var a = "TUTTE  :";}
        @{var b = "APERTE :";}
        @{var c = "CHIUSE :";}

        @if (myScelta == "TUTTE")
        {
            <table border="0">
                <tr>
                    <td>@a</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "TUTTE", new { @checked = true, @onclick = "this.form.submit();" })</td>
                </tr>
                <tr>
                    <td>@b</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "APERTE", new { @onclick = "this.form.submit();" })</td>
                </tr>
                <tr>
                    <td>@c</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "CHIUSE", new { @onclick = "this.form.submit();" })</td>
                </tr>
            </table>
        }
        else if (myScelta == "CHIUSE")
        {
            <table border="0">
                <tr>
                    <td>@a</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "TUTTE", new { @onclick = "this.form.submit();" })</td>
                </tr>
                <tr>
                    <td>@b</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "APERTE", new { @onclick = "this.form.submit();" })</td>
                </tr>
                <tr>
                    <td>@c</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "CHIUSE", new { @checked = true, @onclick = "this.form.submit();" })</td>
                </tr>
            </table>
        }

        else if (myScelta == "APERTE")
        {
            <table border="0">
                <tr>
                    <td>@a</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "TUTTE", new { @onclick = "this.form.submit();" })</td>
                </tr>
                <tr>
                    <td>@b</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "APERTE", new { @checked = true, @onclick = "this.form.submit();" })</td>
                </tr>
                <tr>
                    <td>@c</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "CHIUSE", new { @onclick = "this.form.submit();" })</td>
                </tr>
            </table>
        }
        else
        {
            <table border="0">
                <tr>
                    <td>@a</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "TUTTE", new { @checked = true, @onclick = "this.form.submit();" }) </td>
                </tr>
                <tr>
                    <td>@b</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "APERTE", new { @onclick = "this.form.submit();" })</td>
                </tr>
                <tr>
                    <td>@c</td>
                    <td></td>
                    <td>@Html.RadioButton("Scelta1", "CHIUSE", new { @onclick = "this.form.submit();" })</td>
                </tr>
            </table>
        }

        Telaio : @Html.TextBox("SearchTelaio", null, new { style = "width:80px", @onchange = "this.form.submit();" })

        <input type="submit" value="Refresh" class="btn btn-default" />

    </div>


}


<table class="table">

    <tr>
        @*<td>Finito</td>*@
        <td>Telaio</td>
        <td>Data</td>
        <td>Dettagli</td>
        <td>Foto</td>
        <td>Files</td>

    </tr>
    @foreach (var item in Model.RPC_Telai)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IsFinished)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Telaio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertDate)
            </td>
            <td>
                @*@Html.ActionLink("Create New", "Insert")*@
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "searchImg" })

                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
            @*<td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "deleteImg" })
                </td>*@
            <td>
                @Html.ActionLink("Foto", "Image", new { id = item.ID }, new { @class = "photoImg" })
            </td>
            <td>
                @Html.ActionLink("Foto", "Images", new { id = item.ID }, new { @class = "uplImg" })
            </td>
        </tr>
    }

</table>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Torna alla pagina di Login", "Index")
</p>

@section scripts {
    <script>

                                            //document.getElementById('Scelta1').click();
                                            //alert('Pippo');

    </script>
}

